
{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<div class="text-center">
    <div class="mt-5">
        {% if user.is_authenticated %}
        <h1 class="text-center">Django Authentication Template</h1>
        <p style="font-size: 1.25em; font-weight:300;">{{ user.email }} is logged in!</p>
        {% else %}
        <h1 class="text-center">Django Authentication Template</h1>
        <p style="font-size: 1.25em; font-weight:300;">No user authenticated.</p>
        {% endif %}
    </div>
</div>
{% endblock %}