
{% extends 'base.html' %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block content %}
{% include 'navbar.html' %}
<div class="container">
    <div class="d-flex justify-content-center h-100 mt-5">
        <div class="card">
            <div class="card-header">Login</div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {% for error in form.non_field_errors %}
                    <div class="alert alert-danger" role="alert">{{error}}</div>
                    {% endfor %}
                    <div class="form-field">
                        <label for ="{{ form.username.id_for_label }}">Email Address:</label>
                        {{ form.username }}
                        {% for error in form.username.errors %}
                        <div class="alert alert-danger" role="alert">{{error}}</div>
                        {% endfor %}
                    </div>
                    <div class="form-field">
                        <label for ="{{ form.password.id_for_label }}">Password:</label>
                        {{ form.password }}
                        {% for error in form.password.errors %}
                        <div class="alert alert-danger" role="alert">{{error}}</div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <a class="float-right pt-2" href="{% url 'password_reset' %}">Forget your password?</a>
                </form>
            </div>
            <div class="card-footer">Need an account? <a href="{% url 'signup' %}">Sign Up!</a></div>
        </div>

    </div>
</div>
{% endblock %}