{% extends 'base.html' %}

{% block title %}<title>Password Reset</title>{% endblock %}

{% block content %}

{% if validlink %}

{% include 'navbar.html' %}
<div class="container">
    <div class="d-flex justify-content-center h-100 mt-5">
        <div class="card">
            <div class="card-header">Reset Password</div>
            <div class="card-body">
                <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Change my password">
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}